
<div class="filter_main">
	<div class="container-fluid">
		<div class="bradcampSec">
			<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#"><i class="fa-regular fa-gear"></i></a></li>
					<li class="breadcrumb-item active" aria-current="page">Admin Settings</li>
				</ol>
			</nav>
		</div>
	</div>
</div>
<div class="dasboard_mid companyDataBody">
	<div class="container-fluid">
		<div class="admin_set">
			<h5>Admin Settings</h5>
			<div class="admin_mng">
				<h6>ACCOUNT MANAGEMENT</h6>
				<div class="row">
					<div class="col-md-1">
						<div class="admin_box">
							<h6>Companies</h6>
							<i><img src="~/images/buildings.svg" alt="buildings"></i>
							<a href="#" class="hoverbox"></a>
						</div>
					</div>
					<div class="col-md-1">
						<div class="admin_box">
							<h6>Account<br> Management</h6>
							<i><img src="~/images/buildings.svg" alt="buildings"></i>
							<a href="#" class="hoverbox"></a>
						</div>
					</div>
					<div class="col-md-1">
						<div class="admin_box">
							<h6>Companies</h6>
							<i><img src="~/images/buildings.svg" alt="buildings"></i>
							<a href="#" class="hoverbox"></a>
						</div>
					</div>
					<div class="col-md-1">
						<div class="admin_box">
							<h6>Account<br> Management</h6>
							<i><img src="~/images/buildings.svg" alt="buildings"></i>
							<a href="#" class="hoverbox"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="admin_mng">
				<h6>CUSTOMIZATION PROCESS</h6>
				<div class="row">
					<div class="col-md-1">
						<div class="admin_box">
							<h6>Companies</h6>
							<i><img src="~/images/buildings.svg" alt="buildings"></i>
							<a href="#" class="hoverbox"></a>
						</div>
					</div>
					<div class="col-md-1">
						<div class="admin_box">
							<h6>Account<br> Management</h6>
							<i><img src="~/images/buildings.svg" alt="buildings"></i>
							<a href="#" class="hoverbox"></a>
						</div>
					</div>
					<div class="col-md-1">
						<div class="admin_box">
							<h6>Companies</h6>
							<i><img src="~/images/buildings.svg" alt="buildings"></i>
							<a href="#" class="hoverbox"></a>
						</div>
					</div>
					<div class="col-md-1">
						<div class="admin_box">
							<h6>Account<br> Management</h6>
							<i><img src="~/images/buildings.svg" alt="buildings"></i>
							<a href="#" class="hoverbox"></a>
						</div>
					</div>
					<div class="col-md-1">
						<div class="admin_box">
							<h6>Companies</h6>
							<i><img src="~/images/buildings.svg" alt="buildings"></i>
							<a href="#" class="hoverbox"></a>
						</div>
					</div>
					<div class="col-md-1">
						<div class="admin_box">
							<h6>Account<br> Management</h6>
							<i><img src="~/images/buildings.svg" alt="buildings"></i>
							<a href="#" class="hoverbox"></a>
						</div>
					</div>
					<div class="col-md-1">
						<div class="admin_box">
							<h6>Companies</h6>
							<i><img src="~/images/buildings.svg" alt="buildings"></i>
							<a href="#" class="hoverbox"></a>
						</div>
					</div>
					<div class="col-md-1">
						<div class="admin_box">
							<h6>Account<br> Management</h6>
							<i><img src="~/images/buildings.svg" alt="buildings"></i>
							<a href="#" class="hoverbox"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="admin_mng">
				<h6>SETTINGS</h6>
				<div class="row">
					<div class="col-md-1">
						<div class="admin_box">
							<h6>Companies</h6>
							<i><img src="~/images/buildings.svg" alt="buildings"></i>
							<a href="@Url.Action("CompanySetting", "AdminSetting")" class="hoverbox"></a>
						</div>
					</div>
					<div class="col-md-1">
						<div class="admin_box">
							<h6>Jobs</h6>
							<i><img src="~/images/buildings.svg" alt="buildings"></i>
							<a href="@Url.Action("JobSetting" , "AdminSetting")" class="hoverbox"></a>
						</div>
					</div>
					<div class="col-md-1">
						<div class="admin_box">
							<h6>Contacts</h6>
							<i><img src="~/images/buildings.svg" alt="buildings"></i>
							<a href="@Url.Action("ContactSetting" , "AdminSetting")" class="hoverbox"></a>
						</div>
					</div>
					<div class="col-md-1">
						<div class="admin_box">
							<h6>Candidates</h6>
							<i><img src="~/images/buildings.svg" alt="buildings"></i>
							<a href="@Url.Action("CandidateSetting" , "AdminSetting")" class="hoverbox"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>