@{
    ViewData["Title"] = "Recovery Code Sent";
}

<h2>@ViewData["Title"]</h2>

<p>A recovery code has been sent to your selected recovery method.</p>
<p>
    <a asp-controller="Account" asp-action="Reset2FA"> Forgot your code?</a>
</p>
